/*
base colors:

#44495d
#333647
#282a39
#dea797
#f77c59
*/

html, body {
    margin: 0;
    font-size: 16px;
    font-family: 'Arvo', serif;
}

body {
    background-color: #333647;
}

nav a {
    display: block;
    padding: 10%;
}

@media only screen and (max-width: 1000px) {
    body {
      font-size: 10px;
    }
}

/* CLASS */

.main_page {
    display: grid;
    grid-template-rows: auto auto;
}

.icon_bar {
    padding: 3%;
}

.img_icon {
    width: 7%;
}

.designer_background {
    position: absolute;
    z-index: -1;
    margin: 0 20%;
    max-width: 100%;
    max-height: 100%;
}

.designer_background img {
    max-width: 100%;
}

.nav_bar {
    position: fixed;
    padding: 4%;
    right: 0;
    user-select: none;
    background-color: #282a39;
}

.nav_bar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav_bar a:hover {
    background-color: #333647;
}

.main_intro {
    margin: 6%;
    color: #fff;
    border-left: 1vw solid #000000;
    user-select: none;
}

.intro_div {
    margin: 0 20% 0 3%;
}

.header_large {
    font-size: 600%;
}

.size_medium {
    font-size: 300%;
}

.size_small {
    font-size: 200%;
}

.header_text {
    text-align: center;
    font-size: 300%;
    color: #fff;
}

.project_showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.display_card {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    margin: 0 100px;
}

.display_card img {
    height: 400px;
    width: 500px;
}